<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo's</title>
</head>
<body>
    <h1>{{ user }}</h1>
    <ul>
        {% for t in todos %}
        <li>{{ t }}</li>
        {% endfor %}
    </ul>
</body>
</html>